<section class="section-contacts">
  <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
  <img src="" alt="" width="" height=""/>
  <img src="" alt="" width="" height=""/>
  <p class="contacts-text">
    Our boxes are packed with delicious, nutritious fruits and vegetables,
    perfect for anyone looking to eat healthier or support local farmers. Order
    your box today and start enjoying the best that nature has to offer!
  </p>
  <div class="contacts-email">
    <form class="contacts-form">
      <label class="contacts-label">
        <input type="email"
        name="email"
        placeholder="Enter email..." />
      </label>
    </form>
  <button class="contacts-btn" type="submit">Send</button>