<!-- СЕКЦІЯ КОНТАКТИ -->
<section class="contacts-section" id="contacts">
  <div class="contacts container">
    <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
    <img
      class="contacts-img-mobile"
      src="./img/mobile/contacts-fruit1-mobile.png"
      srcset="
        ./img/mobile/contacts-fruit1-mobile.png    1x,
        ./img/mobile/contacts-fruit1-mobile@2x.png 2x
      "
      alt="sliced green melon"
      width="335"
      height="476"
      loading="lazy"
    />
    <div class="contacts-img-tablet">
      <img
        src="./img/Tablet/contacts-fruit1-tablet.png"
        srcset="
          ./img/Tablet/contacts-fruit1-tablet.png    1x,
          ./img/Tablet/contacts-fruit1-tablet@2x.png 2x
        "
        alt="sliced green melon"
        width="344"
        height="480"
        loading="lazy"
      />
      <img
        src="./img/Tablet/contacts-fruit2-tablet.png"
        srcset="
          ./img/Tablet/contacts-fruit2-tablet.png    1x,
          ./img/Tablet/contacts-fruit2-tablet@2x.png 2x
        "
        alt="a lot of blueberries"
        width="344"
        height="480"
        loading="lazy"
      />
    </div>
    <div class="contacts-img-desktop">
      <img
        src="./img/Desktop/contacts-fruit1.png"
        srcset="
          ./img/Desktop/contacts-fruit1.png    1x,
          ./img/Desktop/contacts-fruit1@2x.png 2x
        "
        alt="sliced green melon"
        width="792"
        height="502"
        loading="lazy"
      />
      <img
        src="./img/Desktop/contacts-fruit2-desktop.png"
        srcset="
          ./img/Desktop/contacts-fruit2-desktop.png    1x,
          ./img/Desktop/contacts-fruit2-desktop@2x.png 2x
        "
        alt="a lot of blueberries"
        width="400"
        height="502"
        loading="lazy"
      />
    </div>
    <div class="contacts-email">
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="contacts-form">
        <label for="contact-mail"></label>
        <input
          id="contact-mail"
          class="contacts-input"
          type="email"
          name="email"
          placeholder="Enter email..."
          required
          minlength="5"
        />
        <button class="contacts-btn" type="submit" thanks-data-modal-open>
          Send
        </button>
      </form>
    </div>
  </div>
</section>
