<footer class="footer">
  <div class="container footer-container">
    <div class="tablet-footer-container">
      <div class="footer-image-container">
        <img
          class="footer-img"
          srcset="./img/footer-img.png 1x, ./img/footer-img@2x.png 2x"
          src="./img/footer-img.png"
          alt="woman"
        />
        <a class="logo-container footer-logo-container" href="./index.html">
          <svg class="logo-icon footer-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          fresh harvest box
        </a>
      </div>
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a
            class="footer-nav-link"
            href="#how-it-works"
            class="footer-nav-link"
            >How It Works</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#fruits" class="footer-nav-link"
            >Fruits</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts" class="footer-nav-link"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
    <div class="tablet-footer-flex">
      <ul class="social social-list">
        <li class="social-item">
          <a
            aria-label="facebook"
            class="social-link"
            href="https://www.facebook.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            aria-label="instagram"
            class="social-link"
            href="https://www.instagram.com"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            aria-label="youtube"
            class="social-link"
            href="https://www.youtube.com"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-address">
        <a class="footer-address-tel" href="tel:380684439426"
          >+380 (68) 443-94-26</a
        >
        <a
          class="footer-address-address"
          href="https://goo.gl/maps/7LbvUQEst7Lp7oVU9?coh=178571&entry=tt"
          rel="noopener noreferrer"
          target="_blank"
          >1678 S. Pioneer Road Salt Lake City <br />UT 84104</a
        >
      </address>
    </div>
  </div>
</footer>
