<section class="fruits-section" id="fruits">
  <div class="fruits container">
    <h2 class="fruits-section-title">organic fruits</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/strawberry.png    295w,
              ./img/fruits/strawberry@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/strawberry.png"
            alt="strawberry"
          />
        </div>
        <p class="fruits-item-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/banana.png    295w,
              ./img/fruits/banana@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/banana.png"
            alt="banana"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/watermelon.png    295w,
              ./img/fruits/watermelon@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/watermelon.png"
            alt="watermelon"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/lime.png 295w, ./img/fruits/lime@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/lime.png"
            alt="lime"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/apple.png 295w, ./img/fruits/apple@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/apple.png"
            alt="apple"
          />
        </div>
        <p class="fruits-item-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/peach.png 295w, ./img/fruits/peach@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/peach.png"
            alt="peach"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item plums">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/plums.png 295w, ./img/fruits/plums@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/plums.png"
            alt="plums"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/orange.png    295w,
              ./img/fruits/orange@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/orange.png"
            alt="orange"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="fruits-img-thumb">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/kiwi.png 295w, ./img/fruits/kiwi@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/kiwi.png"
            alt="kiwi"
          />
        </div>
        <p class="fruits-item-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="btn-order" type="button" data-modal-open>
      <svg class="icon-arrow" width="14" heigth="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="btn-order-text">Order</span>
    </button>

    <!--============= modal-window============= -->

    <div class="backdropp is-hidden" data-modal>
      <div class="modal-window">
        <button type="submit" class="close-btn" data-modal-close>
          <svg class="svg-close" width="24px" height="24px">
            <use href="./img/icons.svg#icon-close">close</use>
          </svg>
        </button>

        <h2 class="modal-title">Your Order</h2>

        <form action="modal-open-form" class="form-information">
          <div class="cards-list">
            <label class="card card-strawberry">
              <div class="">
                <h3 class="modal-subtitle">Strawberry Basket</h3>
                <p class="modal-text">Plant</p>
              </div>
              <img
                class="modal-img-fruits"
                src="./img/mobile/modal-fruit1-mobile.png"
                srcset="
                  ./img/mobile/modal-fruit1-mobile.png     88w,
                  ./img/tablet/modal-fruit1-tablet.png    133w,
                  ./img/desktop/modal-fruit1.png          173w,
                  ./img/mobile/modal-fruit1-mobile@2x.png 176w,
                  ./img/tablet/modal-fruit1-tablet@2x.png 266w,
                  ./img/desktop/modal-fruit1@2x.png       346w
                "
                sizes="(min-width: 1280px) 173px, (min-width: 768px) 133px, 
             (max-width: 767px) 88px, 100vw"
                loading="lazy"
                alt="Strawberry"
              />

              <input
                type="checkbox"
                id="strawberry"
                class="modal-click-fruits"
                name="Basket"
                value="strawberry"
              />
              <label class="click" for="strawberry">
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </label>

            <label class="card card-apple">
              <div class="">
                <h3 class="modal-subtitle">Apple Basket</h3>
                <p class="modal-text">Plant</p>
              </div>
              <img
                class="modal-img-fruits"
                src="./img/mobile/modal-fruit2-mobile.png"
                srcset="
                  ./img/mobile/modal-fruit2-mobile.png     106w,
                  ./img/tablet/modal-fruit2-tablet.png     172w,
                  ./img/desktop/modal-fruit2.png           229w,
                  ../img/mobile/modal-fruit2-mobile@2x.png 212w,
                  ./img/tablet/modal-fruit2-tablet@2x.png  344w,
                  ./img/desktop/modal-fruit2@2x.png        458w
                "
                sizes="(min-width: 1280px) 229px, 
            (min-width: 768px) 172px, 
             (max-width: 767px) 106px"
                loading="lazy"
                alt="Apple"
              />

              <input
                type="checkbox"
                id="apple"
                class="modal-click-fruits"
                name="Basket"
                value="apple"
              />
              <label class="click" for="apple">
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </label>

            <label class="card card-fruits">
              <div class="">
                <h3 class="modal-subtitle">Fruits Basket</h3>
                <p class="modal-text">Plant</p>
              </div>
              <img
                class="modal-img-fruits"
                src="./img/mobile/modal-fruit3-mobile.png"
                srcset="
                  ./img/mobile/modal-fruit3-mobile.png    107w,
                  ./img/tablet/modal-fruit3-tablet.png    172w,
                  ./img/desktop/modal-fruit3.png          229w,
                  ./img/mobile/modal-fruit3-mobile@2x.png 214w,
                  ./img/tablet/modal-fruit3-tablet@2x.png 344w,
                  ./img/desktop/modal-fruit3@2x.png       458w
                "
                sizes="(min-width: 1280px) 229px, 
            (min-width: 768px) 172px, 
             (max-width: 767px) 107px"
                loading="lazy"
                alt="Fruits"
              />

              <input
                type="checkbox"
                id="fruits"
                class="modal-click-fruits"
                name="Basket"
                value="fruits"
              />
              <label class="click" for="fruits">
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </label>
          </div>
          <!-- ========form name======== -->
          <label class="modal-form" for="name">
            <input
              class="modal-form-element"
              type="name"
              placeholder="Enter full name..."
              id="name"
              pattern
          /></label>
          <label class="modal-form"
            ><input
              class="modal-form-element"
              type="email"
              placeholder="Enter email..."
              pattern
          /></label>

          <label class="modal-form"
            ><input
              class="modal-form-element"
              type="number"
              placeholder="Enter card.."
              autofocus
              autocomplete="cc-number"
              name="cardnumber"
              pattern
          /></label>

          <label class="comments">
            <textarea
              class="comments-element"
              name="text"
              placeholder="Enter comments..."
            ></textarea>
          </label>

          <button class="modal-btn-submit" type="submit">Submit</button>
        </form>

        <!-- <img
          class="modal-girl"
          src="./img/tablet/modal-girl-tablet.png"
          srcset="./img/Tablet/modal-girl-tablet.png 290px,
    ./img/desktop/modal-girl.png 471px,
./img/tablet/modal-girl-tablet@2x.png 580px,
./img/desktop/modal-girl@2x.png 942px"
          sizes="(min-width: 1280px) 471px, 
            (min-width: 768px) 290px"
          loading="lazy"
          alt="girl"
        /> -->
      </div>
    </div>
  </div>
</section>
