<section class="fruits-section" id="fruits">
  <div class="fruits container">
    <h2 class="fruits-section-title">organic fruits</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Strawberry
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/strawberry.png    295w,
              ./img/fruits/strawberry@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/strawberry.png"
            alt="strawberry"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item banana">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Banana
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/banana.png    295w,
              ./img/fruits/banana@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/banana.png"
            alt="banana"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item watermelon">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Watermelon
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/watermelon.png    295w,
              ./img/fruits/watermelon@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/watermelon.png"
            alt="watermelon"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item lime">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Lime
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/lime.png 295w, ./img/fruits/lime@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/lime.png"
            alt="lime"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item apple">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Apple
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/apple.png 295w, ./img/fruits/apple@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/apple.png"
            alt="apple"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item peach">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Peach
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/peach.png 295w, ./img/fruits/peach@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/peach.png"
            alt="peach"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item plums">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plums
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/plums.png 295w, ./img/fruits/plums@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/plums.png"
            alt="plums"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item orange">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Orange
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/orange.png    295w,
              ./img/fruits/orange@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/orange.png"
            alt="orange"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item kiwi">
        <h3
          class="fruits-item-title"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Kiwi
        </h3>
        <p
          class="fruits-item-text"
          data-aos="zoom-in"
          data-aos-offset="25"
          data-aos-anchor-placement="bottom-bottom"
        >
          Plant
        </p>
        <div class="fruits-img-thumb kenburns-top">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/kiwi.png 295w, ./img/fruits/kiwi@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/kiwi.png"
            alt="kiwi"
            loading="lazy"
          />
        </div>
        <p class="fruits-item-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="btn-order" type="button" data-modal-open>
      <svg class="icon-arrow" width="14" heigth="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="btn-order-text">Order</span>
    </button>

    <!--============= modal-window============= -->
    <!-- action="modal-open-form" -->
    <div class="backdropp is-hidden" data-modal>
      <div class="modal-window">
        <button type="submit" class="close-btn" data-modal-close>
          <svg class="svg-close" width="24px" height="24px">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>

        <h2 class="modal-title">Your Order</h2>

        <form class="form-information">
          <fieldset class="cards-list">
            <div class="form-fruits-modal">
              <input
                type="checkbox"
                id="strawberry"
                class="modal-click-fruits"
                name="Basket"
              />
              <label class="click card card-strawberry" for="strawberry">
                <span class="modal-titles">
                  <span class="modal-subtitle">Strawberry Basket</span>
                  <span class="modal-text">Plant</span>
                </span>

                <picture>
                  <source
                    srcset="
                      ./img/Desktop/modal-fruit1.png    1x,
                      ./img/Desktop/modal-fruit1@2x.png 2x
                    "
                    media="(min-width: 1280px)" />
                  <source
                    srcset="
                      ./img/Tablet/modal-fruit1-tablet.png    1x,
                      ./img/Tablet/modal-fruit1-tablet@2x.png 2x
                    "
                    media="(min-width: 768px)" />
                  <source
                    srcset="
                      ./img/mobile/modal-fruit1-mobile.png    1x,
                      ./img/mobile/modal-fruit1-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)" />

                  <img src="./img/mobile/modal-fruit1-mobile.png" alt=""
                /></picture>
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </div>

            <div class="form-fruits-modal">
              <input
                type="checkbox"
                id="apple"
                class="modal-click-fruits"
                name="Basket"
              />
              <label class="click card card-apple" for="apple">
                <span class="modal-titles">
                  <span class="modal-subtitle"> Apple Basket </span>
                  <span class="modal-text">Plant</span>
                </span>
                <img
                  class="modal-img-fruits"
                  srcset="
                    ./img/mobile/modal-fruit2-mobile.png    106w,
                    ./img/tablet/modal-fruit2-tablet.png    172w,
                    ./img/desktop/modal-fruit2.png          229w,
                    ./img/mobile/modal-fruit2-mobile@2x.png 212w,
                    ./img/tablet/modal-fruit2-tablet@2x.png 344w,
                    ./img/desktop/modal-fruit2@2x.png       458w
                  "
                  sizes="(min-width: 891px) 229px,
              (min-width: 704px) 172px,
               (max-width: 703px) 106px"
                  src="./img/mobile/modal-fruit2-mobile.png"
                  loading="lazy"
                  alt="Apple"
                />
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </div>

            <div class="form-fruits-modal">
              <input
                type="checkbox"
                id="fruits-oll"
                class="modal-click-fruits"
                name="Basket"
              />
              <label class="click card card-fruits" for="fruits-oll">
                <span class="modal-titles">
                  <span class="modal-subtitle"> Fruits Basket </span>
                  <span class="modal-text">Plant</span>
                </span>
                <img
                  class="modal-img-fruits"
                  srcset="
                    ./img/mobile/modal-fruit3-mobile.png    107w,
                    ./img/tablet/modal-fruit3-tablet.png    172w,
                    ./img/desktop/modal-fruit3.png          229w,
                    ./img/mobile/modal-fruit3-mobile@2x.png 214w,
                    ./img/tablet/modal-fruit3-tablet@2x.png 344w,
                    ./img/desktop/modal-fruit3@2x.png       458w
                  "
                  sizes="(min-width: 1280px) 229px,
              (min-width: 768px) 172px,
               (max-width: 767px) 107px"
                  src="./img/mobile/modal-fruit3-mobile.png"
                  loading="lazy"
                  alt="Fruits"
                />
                <span class="check">
                  <svg class="icon-check" width="6" height="6">
                    <use href="./img/icons.svg#icon-check "></use>
                  </svg>
                </span>
              </label>
            </div>

            <!-- form -->

            <label class="form-label">
              <input
                type="text"
                class="form-input"
                name="username"
                placeholder="Enter full name..."
                minlength="3"
                required
              />
            </label>

            <label class="form-label">
              <input
                type="email"
                class="form-input"
                name="mail"
                placeholder="Enter email..."
                required
              />
            </label>

            <label class="form-label">
              <input
                class="form-input"
                type="tel"
                inputmode="numeric"
                pattern="[0-9\s]{13,19}"
                autocomplete="cc-number"
                maxlength="19"
                required
                placeholder="Enter card.."
            /></label>

            <label class="form-label comments">
              <textarea
                class="form-input comments-element"
                name="text"
                placeholder="Enter comments..."
              ></textarea>
            </label>

            <button class="modal-btn-submit" type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

    <!-- ================================================= -->
  </div>
</section>

<!-- <label class="modal-form">
              <input
                class="modal-form-element"
                type="name"
                placeholder="Enter full name..."
                pattern
            /></label>
            <label class="modal-form"
              ><input
                class="modal-form-element"
                type="email"
                placeholder="Enter email..."
                pattern
            /></label>

            <label class="modal-form"
              ><input
                class="modal-form-element"
                type="number"
                placeholder="Enter card.."
                autofocus
                autocomplete="cc-number"
                name="cardnumber"
                pattern
            /></label> -->
