<section class="fruits-section" id="fruits">
  <div class="fruits container">
    <h2 class="fruits-section-title">organic fruits</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-text">Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/strawberry.png    295w,
              ./img/fruits/strawberry@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/strawberry.png"
            alt="strawberry"
          />
        </div>
        <p class="fruits-item-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/banana.png    295w,
              ./img/fruits/banana@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/banana.png"
            alt="banana"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/watermelon.png    295w,
              ./img/fruits/watermelon@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/watermelon.png"
            alt="watermelon"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/lime.png 295w, ./img/fruits/lime@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/lime.png"
            alt="lime"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/apple.png 295w, ./img/fruits/apple@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/apple.png"
            alt="apple"
          />
        </div>
        <p class="fruits-item-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/peach.png 295w, ./img/fruits/peach@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/peach.png"
            alt="peach"
          />
        </div>
        <p class="fruits-item-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item plums">
        <h3 class="fruits-item-title">Plums</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/plums.png 295w, ./img/fruits/plums@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/plums.png"
            alt="plums"
          />
        </div>
        <p class="fruits-item-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="
              ./img/fruits/orange.png    295w,
              ./img/fruits/orange@2x.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/orange.png"
            alt="orange"
          />
        </div>
        <p class="fruits-item-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p>Plant</p>
        <div class="blur">
          <img
            class="fruits-item-image"
            srcset="./img/fruits/kiwi.png 295w, ./img/fruits/kiwi@2x.png 590w"
            sizes="(min-width: 319px) 295px, 100vw"
            src="./img/fruits/kiwi.png"
            alt="kiwi"
          />
        </div>
        <p class="fruits-item-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="btn-order" type="button" data-modal-open>
      <svg class="icon-arrow" width="14" heigth="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="btn-order-text">Order</span>
    </button>
  </div>
</section>
