<section class="section-hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>

    <div class="wrapper-hero-btn">
      <picture class="hero-picture">
        <source
          srcset="
            ./img/desktop/heromain-desktop.png    1x,
            ./img/desktop/heromain-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet/heromain-tablet.png    1x,
            ./img/tablet/heromain-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/heromain-mobile.png    1x,
            ./img/mobile/heromain-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="yonggirl"
          src="./img/mobile/heromain-mobile.png"
          alt="pretty girl"
          loading="lazy"
        />
      </picture>
      <a href="#fruits" class="link-shopnow">shop now</a>
    </div>
    <!-- <picture>
              <source
                srcset="
                  ./img/desktop/hero-fruit1.png    1x,
                  ./img/desktop/hero-fruit1@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet/hero-fruit1-tablet.png    1x,
                  ./img/tablet/hero-fruit1-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/hero-fruit1-mobile.png    1x,
                  ./img/mobile/hero-fruit1-mobile@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="smallbanana"
                src="./img/mobile/hero-fruit1-mobile.png"
                alt="small banana"
                loading="lazy"
              />
            </picture>
            <img
              class="smallstravbery"
              src="./img/mobile/hero-fruit2-mobile.png"
              alt=""
            /> -->

    <div class="cards-items-watermelon">
      <p class="hero-paragraph">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>

      <div class="hero-card-watermelon">
        <h2 class="hero-title">Fruit</h2>
        <div class="img-decor-hero">
          <img
            src="./img/fruits/watermelon.png"
            alt="watermelon"
            width="200px"
          />
        </div>
        <p class="hero-card-parag">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="cards-items-strawberry">
      <ul class="list-item-hero">
        <li class="item-hero item-hero-organic">
          <h3>#organic</h3>
        </li>
        <li class="item-hero item-hero-products">
          <h3>#products</h3>
        </li>
        <li class="item-hero item-hero-basket">
          <h3>#basket</h3>
        </li>
        <li class="item-hero item-hero-fruits">
          <h3>#fruits</h3>
        </li>
      </ul>

      <div class="hero-card-strawberry">
        <h2 class="hero-title">Fruit</h2>
        <div class="img-decor-hero">
          <img src="./img/mobile/strawberryherocard.png" alt="" width="200px" />
        </div>
        <p class="hero-card-parag">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
