<section class="how-it-works-section" id="how-it-works">
    <div class="container">
        <h2 class="how-it-works-section-title">To order your fruit basket, simply follow these easy steps</h2>
        <p class="how-it-works-section-desc">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
        <ul class="how-it-works-list">
            <li class="how-it-works-item">
            <a class="how-it-works-link first" href="#fruits">FIrst Step</a>
            <p class="how-it-works-item-desc">Just choose the fruit you want to order by clicking on the checkboxes next to it.</p>
            </li>
            <li class="how-it-works-item">
                <a class="how-it-works-link second" href="#fruits">Second Step</a>
                <p class="how-it-works-item-desc">Click on the basket and fill out the form.</p>
            </li>
            <li class="how-it-works-item">
                <a class="how-it-works-link third" href="#contacts">Third Step</a>
                <p class="how-it-works-item-desc">Sit back and relax! Your fresh fruit basket will be delivered.</p>
            </li>
        </ul>
<div class="gif-wrapper"></div>
    </div>

    <!-- ========== TO-TOP BTN ========== -->

    <a href="#to-top" class="scroll scroll-to-top"><svg class="to-top-icon" width="26" height="26" aria-label="to top scroll">
        <use href="./img/icons.svg#to-top-icon"></use>
      </svg></a>
    
</section>

