<section class="section how-it-works-section">
    <div class="container">
        <h2 class="section-title">To order your fruit basket, simply follow these easy steps</h2>
        <p class="section-desc">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
        <ul class="how-it-works-list">
            <li class="how-it-works-item">
            <button class="how-it-works-btn first" type="button">FIrst Step</button>
            <p class="how-it-works-item-desc">Just choose the fruit you want to order by clicking on the checkboxes next to it.</p>
            </li>
            <li class="how-it-works-item">
                <button class="how-it-works-btn second" type="button">Second Step</button>
                <p class="how-it-works-item-desc">Click on the basket and fill out the form.</p>
            </li>
            <li class="how-it-works-item">
                <button class="how-it-works-btn third" type="button">Third Step</button>
                <p class="how-it-works-item-desc">Sit back and relax! Your fresh fruit basket will be delivered.</p>
            </li>
        </ul>
<div class="gif-wrapper">
    <img src="https://s3-alpha-sig.figma.com/img/b08c/27c6/d1b10426e78244d4ff8987ecdcfb2d54?Expires=1684713600&Signature=Ut4ukr5mbkAAyngKcqroWYCweK~c5O2w3yg3G5f3FFtIBEDJA45s1yJlQg7OgiRPCuidg-NiKwD7DPmhb7JLPCw2V3lGqnpBIkOf1g7hzwIBS2gJU~X9n4NM3S486GfLuBj60D4v7gb9rHYSIAdbu1f3-4wh~XxM1Qel2zcBjYJpKN297c2LkVE48HoGtXdv1UQOmYFUuRPoAybZ-yMbSNUs6vM7izBta460KVLC5kttxCT-uMua1AnKB-UlkfO0C3W4GU3UFawYfL~e6FTZlj6Fzd0Up~wQau6JauKaGkAFAeWd8OnbTXCBSsisIwuBcK-QgO0~~M0enqCMdl0CVg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="animated fruits" width="335" height="476" loading="lazy">
</div>
    </div>
</section>

