<div class="overlay"> 
    <div class="mobile-menu-wrapper">
        <ul class="mobile-menu-list list">
            <li class="mobile-menu-item">
                <a href="./howitworks.html" class="mobile-menu-link">How It Work</a>
            </li>
            <li class="mobile-menu-item">
                <a href="./fruits.html" class="mobile-menu-link">Fruits</a>
            </li>
            <li class="mobile-menu-item">
                <a href="./contacts.html" class="mobile-menu-link">Contacts</a>
            </li>
        </ul>
        <button type="button" class="mobile-menu-btn">
            <svg class="mobile-menu-icon" width="20" height="18">
                <use href="../img/icons.svg#icon-basket"></use>
            </svg>
        </button>
    </div>
</div> 