
    <div class="backdrop is-hidden">
    <div class="modal-thank-you">
      <button class="modal-ty-btn data-modal-close">
        <svg class="modal-ty" width="24" height="24">
            <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    <img class="raspberry-img" src="./img/Desktop/modal2-fruit.png"
    srcset="./img/mobile/modal2-mobile.png 207w,
    ./img/Desktop/modal2-fruit.png 278w,
    ./img/mobile/modal2-mobile@2x.png 207w,
    ./img/Desktop/modal2-fruit@2x.png 278w,
    "
    sizes="(min-width: 768px) 278px, (min-width: 375px) 207px "  
    alt="raspberry"
    loading="lazy">
      <!-- alt="raspberry" srcset="../img/mobile/modal2-mobile.png 1x, ../img/mobile/modal2-mobile@2x.png 2x"> -->
      <h1 class="modal-title">THANK YOU</h1>
      <p class="modal-text-ty">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to
        your doorstep. We appreciate your business and look forward to
        providing you with the best possible experience!
      </p>
    </div>
  </div>
