<!-- modal-window -->

<div class="backdropp is-hidden modal-window" data-modal>
  <h2 class="modal-title">Your Order</h2>
  <button type="submit" class="close-btn" data-modal-close>
    <svg class="svg-close" width="24px" height="24px">
      <use>close</use>
    </svg>
  </button>

  <ul class="cards-list">
    <li class="card card-strawberry">
      <div class="cards-info">
        <h3 class="modal-subtitle">Strawberry Basket</h3>
        <p class="modal-text">Plant</p>
      </div>
      <img width="88px" height="95px" src="" alt="Strawberry" />

      <input type="checkbox" id="check" class="modal-click-fruits" />
      <label class="click" for="check">
        <span class="modal-form-name check">
          <svg class="icon-check" width="16" height="16">
            <use href=""></use>
          </svg>
        </span>
      </label>
    </li>

    <li class="card card-apple">
      <div class="cards-info">
        <h3 class="modal-subtitle">Apple Basket</h3>
        <p class="modal-text">Plant</p>
      </div>
      <img width="88px" height="95px" src="" alt="Apple" />
    </li>

    <li class="card card-fruits">
      <div class="cards-info">
        <h3 class="modal-subtitle">Fruits Basket</h3>
        <p class="modal-text">Plant</p>
      </div>
      <img width="88px" height="95px" src="" alt="Fruits" />
    </li>
  </ul>

  <form action="modal-open-form" class="form-information">
    <label class="modal-form"
      ><input
        class="modal-form-element"
        type="text"
        placeholder="Enter full name..."
    /></label>
    <label class="modal-form"
      ><input
        class="modal-form-element"
        type="text"
        placeholder="Enter email..."
    /></label>

    <label class="modal-form"
      ><input
        class="modal-form-element"
        type="text"
        placeholder="Enter card.."
        required
        autofocus
        autocomplete="cc-number"
        name="cardnumber"
    /></label>

    <label class="comments modal-form">
      <textarea
        class="comments-element"
        name=""
        placeholder="Enter comments..."
      ></textarea>
    </label>

    <button class="modal-btn-submit" type="submit">Submit</button>
  </form>
</div>
