
.contacts-container {

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.contacts-section {
  padding-top: 133px;
  padding-bottom: 80px;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
}
.contacts-title {
  position: absolute;
  top: -53px;
  max-width: 335px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: flex;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.contacts-form {
  display: none;
}
.contacts-text {
  display: none;
}
.contacts-img-mobile {
    border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}
.contacts-img-tablet {
  display: none;
}
.contacts-img-desktop {
  display: none;
}
@media screen and (max-width: 767px) {
}

/* T A B L E T */
@media screen and (min-width: 768px) {

  .contacts-container {

    padding-left: 32px;
    padding-right: 32px;
  }
  .contacts-section {
    padding-top: 223px;
    padding-bottom: 144px;
  }
  .contacts-title {
    top: -79px;
    max-width: 648px;
    font-size: 54px;
    margin-left: 28px;
    margin-right: 28px;
  }
  .contacts-img-mobile {
    display: none;
  }
  .contacts-img-desktop {
    display: none;
  }
  .contacts-img-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .contacts-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contacts-text {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 492px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    text-align: center;
    letter-spacing: -0.04em;

    color: #ffffff;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
  .contacts-form {
    display: flex;
    height: 48px;
    position: relative;
    min-width: 292px;
  }

  .contacts-input {
    background-color: transparent;
    border-radius: 100px 0 0 100px;
    border: 1px solid #ffffff;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    opacity: 0.5;
    padding-left: 24px;
    padding-right: 35px;
    /* width: 220px; */
    color: #ffffff;
  }
  .contacts-input:focus {
    border: 1px solid #9dc162;
  }
  .contacts-btn {
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #ffffff;
    background: #9dc162;
    border-radius: 100px;
    padding: 15px 35px;
    border: none;
  }
  .contacts-btn:hover,
  .contacts-btn:focus {
    background: #ffffff;
    color: #9dc162;
  }
}

/* D E S K T O P */
@media screen and (min-width: 1280px) {

  .contacts-container {
        min-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .contacts-section {
    padding-top: 239px;

  .contacts-section {
    padding-top: 150px;

    padding-bottom: 150px;
  }
  .contacts-title {
    top: -89px;
    max-width: 740px;
    font-size: 64px;
    margin-left: 238px;
    margin-right: 238px;
  }
  .contacts-img-tablet {
    display: none;
  }
  .contacts-img-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}
