.fruits-section-title {
  margin: 0 0 14px 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.fruits-text {
  text-align: center;
  margin: 0 0 44px 0;
}

.fruits-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 0 44px 0;
  padding: 0;

  list-style: none;
}

.fruits-item {
  max-width: 335px;
  border-radius: 20px;
  padding: 64px 24px 24px 24px;
  transform: scale(1);
  transition: transfom 250ms linear;
}
.fruits-item:hover {
  transform: scale(1.02);

  box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -webkit-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
}

.fruits-item:hover .kenburns-top {
  -webkit-animation: kenburns-top 350ms ease-out both;
  animation: kenburns-top 350ms ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-15px);
    transform: scale(1.05) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.fruits-item:nth-last-child(-n + 3) {
  display: none;
}
.strawberry {
  background: #f8766b;
}
.banana {
  background: #edd251;
}
.watermelon {
  background: #9dc262;
}

.lime {
  background: #bfd663;
}
.apple {
  background: #e93f29;
}
.peach {
  background: #db4f4b;
}

.plums {
  background: #9b5366;
}

.orange {
  background: #f47f4c;
}

.kiwi {
  background: #98b37e;
}

.fruits-item-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.fruits-item-text {
  margin: 0 0 4px 0;
}

.fruits-item-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.fruits-img-thumb {
  position: relative;
  margin: 0 0 22px 0;
}

.fruits-img-thumb::after {
  content: '';
  position: absolute;
  left: 17.4%;
  bottom: -7.78%;
  display: block;
  width: 100%;
  max-width: 195px;
  height: 100%;
  max-height: 38px;
  border-radius: 50%;

  background: #000000;
  opacity: 0.1;
  filter: blur(13.5914px);
}

.fruits-item-price {
  position: relative;
  z-index: 1;
  max-width: 126px;
  padding: 12px 0;
  margin: 0;
  border-radius: 200px;
  font-weight: 500;
  text-align: center;
  color: #ae1332;
  background: #ffffff;
}

.btn-order {
  display: flex;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  align-items: end;
  justify-content: center;
  gap: 6px;
  padding: 26px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  background: #9dc262;
}
.btn-order:hover,
.btn-order:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -webkit-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
}

.icon-arrow {
  fill: currentColor;
  width: 14px;
  height: 14px;
}

.btn-order-text {
  transform: rotate(-14deg);
  transform-origin: bottom left;
}

/* ADAPTIVE FOR TABLET */
@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  } */

  .fruits-section-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .fruits-text {
    max-width: 547px;
    margin-left: auto;
    margin-right: auto;
  }

  .fruits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .fruits-item {
    flex-basis: calc((100% - 16px) / 2);
    max-width: 344px;
  }

  .fruits-item:nth-last-child(3),
  .fruits-item:nth-last-child(2) {
    display: initial;
  }

  .fruits-item-title {
    font-size: 32px;
    line-height: 1.19;
  }

  .fruits-item-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .fruits-img-thumb {
    margin: 0 0 6px 0;
  }

  .fruits-item-price {
    max-width: 136px;
    font-size: 18px;
    line-height: 1.33;
  }

  .btn-order {
    width: 114px;
    height: 114px;
    padding: 38px 0;
    gap: 10px;
    font-size: 18px;
    line-height: 1.33;
  }
}

/* ADAPTIVE FOR DESKTOP */
@media screen and (min-width: 1280px) {
  /* .container {
    max-width: 1280px;
  } */
  .fruits-list {
    gap: 24px;
  }

  .fruits-item {
    flex-basis: calc((100% - 24px) / 3);
    max-width: 389px;
  }

  .fruits-item:nth-last-child(1) {
    display: initial;
  }
}
