/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */

.page-header {
  /* margin: 0 auto; */
  background-color: #fff;
  /* max-width: 704px;
  width: calc(100% - 40px); */
  /* outline: 1px solid teal; */
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  outline: 1px solid teal;
}

.nav-list {
  display: none;
}

.nav-link {
  padding: 16px 0;

  font-size: 14px;
  line-height: 1.29;
  /* identical to box height, or 129% */
  letter-spacing: -0.04em;
  color: #ae1332;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px 0;
}

.logo-icon {
  fill: #ae1332;
}

.logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  /* identical to box height, or 129% */
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ae1332;
}

.header-btn {
  background-color: transparent;
  border: transparent;
  height: 50px;
  padding: 0;
  /* padding: 13px 0; */
}

.basket-btn {
  margin-left: auto;
}

.basket-icon {
  fill: #ae1332;
}

.menu-btn {
  margin-left: auto;
}
.menu-icon {
  fill: #ae1332;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .basket-btn {
    display: none;
  }
  .close-btn {
    display: none;
  }

  .logo-container {
    /* top: 50%; */
    left: 20px;
    transform: translateY(-50%);
    /* margin: 0 auto; */
  }
  .page-header {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 20px;
  }
  .header-container {
    max-width: 1216px;
    width: calc(100% - 64px);
  }
  .container {
    /* max-width: 1216px;
    width: calc(100% - 64px); */
    padding: 0;
    /* margin: 0 auto; */
  }
}
