h1.hero-title {
  position: relative;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin: 0 0 -73px 0;

  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  min-width: 320px;
  max-width: 335px;

  z-index: 1;
}

.wrapper-hero-btn {
  position: relative;
  display: flex;
  margin: 0 auto 71px auto;
}

.yonggirl {
  border-radius: 500px;

  display: block;
  width: 100%;
  height: auto;

  padding: 17px;
  background-color: var(--color-red);

  box-shadow: 0px -2px 0px 0px rgba(174, 19, 50, 0.5),
    0px 1.5px 0px 0.4px rgba(255, 255, 255, 0.5);
}

.link-shopnow {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  background: #ffffff;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  align-items: center;

  text-transform: uppercase;

  color: #ae1332;
  border: none;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);

  position: absolute;
  left: 38.21%;
  bottom: -40px;

  z-index: 1;
}

.hero-paragraph {
  max-width: 279px;
  margin: 0 0 44px 0;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.hero-card-parag {
  max-width: 155px;
  margin: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  text-transform: uppercase;
  text-align: center;
}

.hero-btn-parag:hover {
  color: #a4cb66;
}

.img-decor-hero {
  position: relative;
  margin-bottom: 2px;
}

.img-decor-hero::after {
  content: '';
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);
  position: absolute;
  width: 100%;
  height: 38px;
  top: 80%;
  right: 1%;
}

.cards-items-watermelon {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card-watermelon {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 28px 25px 40px 25px;

  max-width: 249px;
  background-color: #a4cb66;
  border-radius: 500px;
}

img {
  width: 100%;
}

.hero-title {
  margin: 0 0 61px 0;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
}

.cards-items-strawberry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card-strawberry {
  padding: 28px 43px 40px 43px;
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 249px;

  background-color: #f5ce13;
  border-radius: 500px;
}

h2.hero-title {
  margin: 0 0 19px 0;
}

.hero-card-strawberry .img-decor-hero {
  margin-bottom: 17px;
}

.hero-card-strawberry .hero-card-parag {
  max-width: 163px;
}

.list-item-hero {
  max-width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0 0 44px 0;
  padding: 0;
}

.item-hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: 1px solid #ffffff;
  border-radius: 1000px;
  width: calc((100% - 8px) / 2);
  padding: 12px 32px;
}

.item-hero h3 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.cards-items-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallbanana {
  position: absolute;
  left: 6%;
  top: 1px;
  transform: translate(-50%);
}

.smallstravbery {
  position: absolute;
  right: -35px;
  top: -50px;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  h1 {
    max-width: 704px;
    width: 100%;
    /* margin-top: 64px; */
    font-size: 50px;
    line-height: 1.08;
    top: 110px;
  }

  .wrapper-hero-btn {
    display: flex;
    width: 452px;

    margin-left: auto;
    margin-right: auto;
    /* justify-self: center; */
  }

  .yonggirl {
    width: 452px;
  }

  .cards-items-hero {
    flex-direction: row;
    margin-top: 44px;
    justify-content: space-between;
  }

  .cards-items-watermelon {
    display: block;
  }

  .cards-items-strawberry {
    display: flex;
    flex-direction: column-reverse;
    max-width: 299px;
  }

  .hero-paragraph {
    width: 279px;
    margin: 0;
    margin-bottom: 45px;
  }

  .hero-card-strawberry {
    margin: 0;
    margin-bottom: 44px;
  }

  .item-hero {
    flex-basis: content;
  }

  .list-item-hero {
    justify-content: flex-end;
  }

  .smallbanana {
    left: 10%;
    top: 200px;
    transform: translate(-50%);
  }

  .smallstravbery {
    right: 1px;
    top: 120px;
  }

  .shop-btn {
    width: 114px;
    height: 114px;

    bottom: -40px;
  }

  .hero-btn-parag {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    max-width: 898px;
    margin-top: -40px;
  }

  .cards-items-hero {
    position: relative;
    bottom: 500px;
  }

  .section-hero {
    max-height: 1000px;
  }

  .cards-items-strawberry {
    margin-bottom: 300px;
  }

  .smallbanana {
    left: 25%;
    top: 150px;
  }

  .smallstravbery {
    right: 23%;
    top: 70px;
  }
}
