/* ====== modal======== */
.backdropp.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdropp {
  width: 335px;

  position: fixed;
  max-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  z-index: 10;
}

.modal-window {
  position: absolute;
  max-width: 335px;
  width: 100%;
  height: 100vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;

  background-color: var(--color-white);
  border-radius: 20px;
  overflow: scroll;
}

/* ================= */

/* btn-close */

.close-btn {
  position: absolute;

  top: 22px;
  right: 20px;
  margin: 0;
  padding: 0;

  background-color: inherit;
  border: none;
}

.svg-close {
  background-color: inherit;
  stroke: var(--color-red);
}

.modal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: start;
  margin: 0 0 40px 0;
  min-width: 100%;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--color-red);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

/* modal-information */

.form-information {
  display: flex;
  flex-direction: column;
}

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  display: block;
}

.cards-list {
  margin-bottom: 40px;
}

.form-fruits-modal {
  position: relative;
  margin-bottom: 12px;
}

.card {
  display: flex;

  padding: 16px 32px 8px 20px;

  border-radius: 20px;
}

.form-fruits-modal:last-child {
  margin-bottom: 0;
}

.card-strawberry {
  background-color: #f8766b;
}

.card-apple {
  background-color: #edd251;
}

.card-fruits {
  background-color: #9dc262;
}

.modal-titles {
  display: block;
}

.modal-subtitle {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
  margin-top: 4px;
  margin-bottom: 2px;

  color: var(--color-white);
}

.modal-text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--color-white);
}

.modal-img-fruits {
  margin-left: auto;
}

/* check */
.modal-click-fruits {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  opacity: 0;
}

.check {
  position: absolute;
  display: flex;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
  background-color: inherit;

  border: 1.5px solid var(--color-white);
  border-radius: 4px;
}

.icon-check {
  margin: auto;

  fill: transparent;
}

.modal-click-fruits:checked + .click > .check .icon-check {
  fill: var(--color-white);
  opacity: 1;
}

/* form================================= */

* {
  box-sizing: border-box;
}

.form-input:not(:placeholder-shown):required:valid {
  border-color: green;
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

/* Example styles */

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.form-input {
  padding: 14px 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  outline: none;
  border-radius: 100px;
}

.form-input::placeholder {
  opacity: 0.3;
  color: var(--color-black);
  border-color: var(--color-black);
}

.comments {
  max-width: 100%;
  margin-bottom: 24px;
  border: none;
  border-radius: 20px;
}

.comments-element {
  display: block;
  min-height: 132px;

  width: 100%;

  padding: 14px 24px 0 15px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  resize: none;
}

/* ===btn=== */

.modal-btn-submit {
  width: 92px;
  height: 42px;
  left: 20px;
  top: 841px;
  padding: 0;

  color: var(--color-white);

  background: #9dc162;
  border: none;
  border-radius: 100px;
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  box-shadow: 0px 0px 12px 5px rgba(82, 131, 72, 0.75);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .backdropp,
  .modal-window {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .backdropp,
  .modal-window {
    max-width: 704px;
    width: 100%;
  }

  .modal-window {
    padding: 40px;
  }

  /* btn-close */
  .close-btn {
    top: 20px;
    width: 28px;
    height: 28px;
  }

  .svg-close {
    width: 28px;
    height: 28px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 1.1;
  }

  /* ========================= */

  .card-strawberry {
    width: 200px;
  }

  .cards-list {
    display: flex;
    gap: 12px;
  }

  .form-fruits-modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .card {
    flex-direction: column;
    padding: 40px 14px 14px 14px;
    margin-bottom: 0;
  }

  .modal-subtitle {
    margin-top: 0;
  }

  .modal-img-fruits {
    margin: auto;
  }
  /* form================================= */

  .form-label {
    max-width: 360px;
  }

  /* ===btn=== */

  .modal-btn-submit {
    width: 114px;
    height: 48px;
    left: 20px;
    top: 841px;

    color: var(--color-white);

    background: #9dc162;
    border: none;
    border-radius: 100px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    background-image: url('../img/Tablet/modal-girl-tablet.png');
    background-repeat: no-repeat;
    background-position: top 100% left 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-window {
      background-image: url('../img/Tablet/modal-girl-tablet@2x.png');
      background-repeat: no-repeat;
      background-position: top 100% left 100%;
      background-size: 290px 464px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .backdropp,
  .modal-window {
    max-width: 891px;
  }

  .modal-subtitle {
    font-size: 24px;
    line-height: 1.17;
  }

  .cards-list {
    gap: 20px;
  }

  .card-strawberry {
    width: 257px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-window {
    background-image: url('../img/Desktop/modal-girl.png');
    background-repeat: no-repeat;
    background-position: top 100% left 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-window {
      background-image: url('../img/Desktop/modal-girl@2x.png');
      background-repeat: no-repeat;
      background-position: top 100% left 100%;
      background-size: 471px 458px;
    }
  }
}
