.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  width: 90%;
  height: 100%;
  background-color: var( --color-red);
  padding: 40px 20px;
  border-radius: 20px;
}

.modal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}

.modal-text-ty {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04em;
  max-width: 295px;
}

.modal-ty-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.modal-ty {
  stroke: #ffffff;
}

.raspberry-img {
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .modal-thank-you {
    max-width: 600px;
    height: 100%;
    padding: 68px 104px 80px 104px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 44px;
  }

  .modal-text-ty {
    max-width: 391px;
  }

  .raspberry-img {
    margin-bottom: 28px;
  }
}
