:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-black: #000000;
  --color-red: #ae1332;
  --color-green: #a4cb66;
  --color-yellow: #f5ce13;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  background-color: #ae1332;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  margin: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
